$fontGray: #313131;
$lightGray: #606060;
$purple: #7e34ba;
$lightBlue: #3694bd;
$orange: #ff8700;
$red: #b72300;
$pink: #6a3fbd;

.siteContainer {
    padding-top: 70px;
}

@media (max-width: 1200px) {
    .siteContainer {
        padding-top: 63px;
    }
}

@media (max-width: 900px) {
    .siteContainer {
        padding-top: 56px;
    }
}

.glightbox4 {
    img {
        transition: all 0.15s ease-in-out;
        box-shadow: 0px 0px 0px 0px rgba(167, 66, 255, 0.5);
    }

    +span {
        transition: all 0.15s ease-in-out;
    }

    &:hover {
        img {
            box-shadow: 0px 0px 15px 0px rgba(167, 66, 255, 0.5);
        }

        +span {
            color: rgb(167, 66, 255);
        }
    }
}

.products__item {
    position: relative;

    &-flag {
        width: 100px;
        height: 100px;
        position: absolute;
        top: -50px;
        left: -50px;
    }
}

.banner {
    width: 100%;
    height: 420px;
    background-color: white;
    background-image: url("./../img/banner-bg.jpg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 35% auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        width: 960px;
        max-width: 90%;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url("./../img/logo-spring-air.svg");
        background-repeat: no-repeat;
        background-position: 30px center;
    }

    &__header {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 300;
        color: $fontGray;
        margin-bottom: 30px;
    }

    &__text {
        width: 450px;
        max-width: 100%;
        font-size: 16px;
    }
}

// start od section disinfection 
.disinfection{
    font-family: Montserrat;    
    section.banner__disinfection {
        width: 100%;
        height: 420px;
        background-color: white;
        // background-image: url("./../img/banner-bg.jpg");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 35% auto;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        div.banner__wrapper__disinfection {
            width: 500px;
            max-width: 90%;
            height: 320px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            // background-image: url("./../img/logo-spring-air.svg");
            background-repeat: no-repeat;
            background-position: 30px center;
            line-height: 26px;
    
    
            h1.banner__header__disinfection {
                font-family: Montserrat;
                // nie łapie czcionki, należy dodać do folderu assets- font
                font-size: 34px;
                font-weight: 600;
                color: $fontGray;
                margin:0;
                line-height: 41px;
            }
        
            p.banner__text__disinfection {
                line-height: 26px;
                max-width: 100%;
                width: 430px;
                font-size: 17px;
                font-family: Montserrat;
    
                span.red{
                    color: red;
                    font-weight: 600;
                }
                span.blue{
                    color: blue;
                    font-weight: 600;
                }
            }
        }
        div.imgbox{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
    
            .img1{
                
            }
            .img2{
                
            }
        }
        
        
    }
    
    section.preparation {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("./../img/aero-bg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        line-height: 26px;
    
        .preparation__wrapper {
            width: 800px;
            max-width: 90%;
            margin: 60px 0 80px;
            h2.preparation__header {
                font-family: Montserrat;
                font-size: 34px;
                font-weight: 600;
                line-height: 41px;
                color: white;
                margin-bottom: 30px;
            }
        
            p.preparation__text {
                color: white;
                font-size: 17px;
        
                span.purple{
                    font-weight: 600;
                    color:$purple;
                }
            }
        }
    
        
    }
    
    section.warning{
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 26px;
        font-size: 17px;
        margin-bottom: 80px;
        
        .warning__text{
            width: 800px;
            max-width: 90%;
            
            .warning__certified{
            
                max-width: 90%;
                margin: 60px 0 40px;
                p{
                    display: block;
                    font-weight: 600;
                    span.red {
                        display:block;
                        color: red;
                        
                    }
                }
            }
        
            .purple_box{
                color: $purple;
                border: 2px solid $purple;
                border-radius: 15px;
                font-weight: 600;
                padding: 10px 80px;
                text-align: center;
                margin-bottom: 30px;
                p{
                    display: block;
                }
            }
            .unit{
                display: block;
                text-align: start;
                margin-bottom: 30px;
            }
            
            .result{
        
                p{
                    display: block;
                    margin:0;
                }
            }
        }
    
        
    
    }
}

section.dilution{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/main-bg-bottom.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;
    
    img.dilution__background{
        position: absolute;
        top: 0;
        left: 0;
        max-width: 50%;
    }
    .dilution__wrapper{
        width: 960px;
        max-width: 90%;
        margin: 100px 0;
        border-radius: 32px;
        background-color: white;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
        z-index: 99;
        line-height: 26px;
        .dilution__wrapper__text{
            padding: 100px 60px 10px 60px;
            h2{
                font-size: 34px;
                line-height: 41px;
            }
        }   
        
        .purple{
            width: 100%;
            background-color: $purple;
            color: white;
            text-align: center;
            font-weight: 600;
            padding: 20px 0;
        }
        .image-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px 0;
        }
        .list{
            padding: 100px 60px 10px 60px;
            ul{
                list-style-position: outside;
                list-style-type: disc;
                li{
                    padding-left:60px;
                }
            }
        }
        .bold_txt{
            padding: 20px 100px 10px 100px;
            text-align: center;
            font-weight: 600;

            &::after{
                content: "";
                margin-top: 20px;
                display: block;
                height: 1px;
                width: 100%;
                background-color: $purple;
            }
        }
        
        .download{
            
            padding: 20px 100px 10px 100px;
            margin-bottom: 80px;
            .purple_txt{
                display: block;
                color:$purple;
                font-weight: 600;
            }
            .document{
                display: block;
            }
        }
    }
}



// end of section dezynfekcja
.aero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/aero-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper {
        width: 960px;
        max-width: 90%;
        margin: 60px 0 80px;
    }

    &__header {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 300;
        color: white;
        margin-bottom: 30px;
    }

    &__text {
        color: white;
        font-size: 16px;
    }
}

.diffusion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./../img/main-bg-bottom.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 50%;
    }

    &__wrapper {
        width: 960px;
        max-width: 90%;
        margin: 100px 0;
        padding: 100px 60px;
        border-radius: 32px;
        background-color: white;
        box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
        z-index: 99;
    }

    &__header {
        font-family: Montserrat;
        color: $fontGray;
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 30px;
        line-height: 49px;
    }

    &__text {
        font-size: 18px;
        color: $fontGray;
        margin-bottom: 60px;

        &--purple {
            color: $purple;
            font-weight: 600;
        }
    }

    &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        &--margin {
            margin: 30px 0 200px;

            &-small {
                margin: 30px 0 100px;
            }
        }

        &-image {
            width: 100%;

            &--small {
                width: 70%;
            }

            &-wrapper {
                width: 225px;
                height: 340px;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;

                &--big {
                    height: 430px;
                }
            }
        }

        &-column {
            width: 250px;
        }

        &-header {
            color: $purple;
            font-size: 30px;
            font-family: Montserrat;
            font-weight: 600;
        }

        &-text {
            font-size: 14px;
            color: $fontGray;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }

            &--purple {
                color: $purple;
                font-weight: 600;
            }

            &--big {
                font-size: 16px;
                font-weight: 600;
                display: flex;
            }

            &--bold {
                font-weight: 600;
            }

            &--small {
                font-size: 12px;
            }
        }
    }

    &__image {
        align-self: flex-end;
    }
}

@media (max-width: 1023px) {
    .banner {
        background-size: auto 80%;
        background-position: 500px center;
    }

    .diffusion {
        &__wrapper {
            margin: 50px 0;
        }

        &__item {
            flex-wrap: wrap;

            &-image {
                width: auto;
                height: 100%;

                &--small {
                    width: auto;
                    height: 80%;
                }

                &-wrapper {
                    width: 100%;
                    height: 289px;
                    margin-bottom: 30px;

                    &--big {
                        padding-bottom: 20px;
                    }
                }
            }

            &-column {
                width: 40%;
            }
        }

        &__image {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .banner {
        background-position: 200px -130px;
        height: auto;
        padding: 50px 0;

        &__wrapper {
            background-size: contain;
            background-position: center;
            height: auto;
        }

        &__header {
            font-size: 21px;
        }

        &__text {
            font-size: 11px;
        }
    }

    .aero {
        &__header {
            font-size: 18px;
        }

        &__text {
            font-size: 11px;
        }

        &__wrapper {
            margin: 30px 0 40px;
        }
    }

    .diffusion {
        &__wrapper {
            padding: 30px 20px;
        }

        &__header {
            font-size: 18px;
            line-height: 1;
        }

        &__text {
            font-size: 14px;

            &--big {
                font-size: 14px;
            }
        }

        &__item {
            &-header {
                font-size: 18px;
            }

            &-column {
                width: 100%;
                margin-top: 20px;
            }

            &--margin {
                font-size: 11px;
                margin: 20px 0;

                &-small {
                    font-size: 11px;
                    margin: 20px 0;
                }
            }

            &-image {
                &-wrapper {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.products__items {
    max-width: 90rem;
}

.products__item {
    margin-top: 9rem;
}

.products__item-4 {
    background-image: url("./../img/diffusion-box.png");
}

.spring-single {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &__image {
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;

        &--top {
            position: absolute;
            top: -200px;
            right: 15%;
        }
    }
}

.spring-banner {
    width: 960px;
    padding: 40px 60px 60px;
    border: 3px solid $pink;
    border-radius: 32px;
    margin: 60px 0;
    z-index: 10;

    &__breadcrumbs {
        font-size: 16px;
        color: $purple;
        font-weight: 400;
    }

    &__header {
        font-size: 40px;
        color: $fontGray;
        text-transform: uppercase;
        font-weight: 400;
        font-family: Montserrat;
        line-height: 100%;
        margin: 20px 0 5px;
    }

    &__subheader {
        font-size: 16px;
        color: $fontGray;
        font-family: Montserrat;
        font-weight: 400;
        margin-bottom: 20px;

        &--purple {
            color: $purple;
        }
    }

    &__text {
        font-size: 14px;
        color: $fontGray;
        font-weight: 400;
    }
}

.slider__url {
    display: block;
    padding: 6px 15px 4px;
    background-color: $purple;
    color: #cccccc;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 900;
    transition: all 0.15s ease-in-out;
    border: 3px solid $purple;
    text-decoration: none;
    line-height: 100%;
    border-radius: 10px;
    align-self: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;

    &:hover {
        color: $purple;
        background-color: #cccccc;
    }
}

.spring-main {
    width: 960px;
    box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.1);
    padding: 60px 60px 25px;
    background-color: white;
    border-radius: 32px;
    margin-bottom: 330px;
    z-index: 10;

    &__title {
        font-size: 13px;
        font-weight: 400;
        color: $purple;
    }

    &__header {
        font-size: 36px;
        color: $lightGray;
        font-family: Montserrat;
        margin-bottom: 30px;
        line-height: 100%;
    }

    &__subheader {
        font-size: 30px;
        color: $lightGray;
        font-family: Montserrat;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 14px;
        color: $fontGray;

        &--big {
            font-size: 18px;
            margin: 20px 0 50px;
            font-weight: 600;
            color: $lightGray;
            max-width: 90%;
        }

        &--light {
            font-size: 14px;
            color: $lightGray;
        }

        &--purple {
            color: $purple;
        }
    }

    &__image {
        width: 45%;
    }

    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__content {
        width: 50%;
    }
}

.frepro-single {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-image: url("./../img/fiolet.png");
    background-position: right top;
    background-repeat: no-repeat;

    &__image {
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;

        &--top {
            position: absolute;
            top: -200px;
            right: 15%;
        }
    }
}

.frepro-banner {
    width: 960px;
    padding: 40px 60px 60px;
    border: 3px solid $pink;
    border-radius: 32px;
    margin: 60px 0;
    z-index: 10;

    &__breadcrumbs {
        font-size: 16px;
        color: $purple;
        font-weight: 400;
    }

    &__header {
        font-size: 40px;
        color: $fontGray;
        text-transform: uppercase;
        font-weight: 400;
        font-family: Montserrat;
        line-height: 100%;
        margin: 20px 0 5px;
    }

    &__subheader {
        font-size: 16px;
        color: $fontGray;
        font-family: Montserrat;
        font-weight: 400;
        // margin-bottom: 20px;

        &--purple {
            color: $purple;
        }
    }

    &__text {
        font-size: 14px;
        color: $fontGray;
        font-weight: 400;
    }
}

.frepro-main {
    width: 960px;
    box-shadow: 0 0 54px 0 rgba(0, 0, 0, 0.1);
    padding: 60px 60px 25px;
    background-color: white;
    border-radius: 32px;
    margin-bottom: 60px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__column {
        width: 48%;
        font-size: 14px;
        line-height: 180%;

        img {
            max-width: 100%;
            height: auto !important;
        }

        ul {
            padding-left: 22px;
        }
    }

    &__title {
        font-size: 13px;
        font-weight: 400;
        color: $purple;
    }

    &__header {
        font-size: 36px;
        color: $lightGray;
        font-family: Montserrat;
        margin-bottom: 30px;
        line-height: 100%;
    }

    &__subheader {
        font-size: 30px;
        color: $lightGray;
        font-family: Montserrat;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 14px;
        color: $fontGray;

        &--big {
            font-size: 18px;
            margin: 20px 0 50px;
            font-weight: 600;
            color: $lightGray;
            max-width: 90%;
        }

        &--light {
            font-size: 14px;
            color: $lightGray;
        }

        &--purple {
            color: $purple;
        }
    }

    &__image {
        width: 45%;
    }

    &__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__content {
        width: 50%;
    }
}

.odswiezacze__lightbox {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;

    .lightbox-content {
        border-radius: 15px;
        background-color: white;
        transition: all 2s ease-in-out;
        opacity: 0;
        min-height: 100%;
    }
}

.lightbox-content {
    padding: 15px !important;

    &-top {
        align-items: flex-start !important;

        img {
            margin-top: 15px !important;
        }
    }
}

.odswiezacze__linia--box-product {
    &:nth-child(8n) {
        .odswiezacze__lightbox {
            right: auto;
            left: 0;
        }
    }

    &:nth-child(8n - 1) {
        .odswiezacze__lightbox {
            right: auto;
            left: 0;
        }
    }

    &:nth-child(8n - 2) {
        .odswiezacze__lightbox {
            right: auto;
            left: 0;
        }
    }

    &:nth-child(8n - 3) {
        .odswiezacze__lightbox {
            right: auto;
            left: 0;
        }
    }

    &:hover {
        .odswiezacze__lightbox {
            display: block !important;

            .lightbox-content {
                box-shadow: 0px 0px 15px -5px rgba(167, 66, 255, 0.5);
                opacity: 1;
            }
        }
    }
}

.odswiezacze__linia--box {
    position: relative;
}

.spring-air__link {
    font-family: Montserrat;
    position: absolute;
    bottom: -20px;
    right: -30px;
    padding: 5px 10px;
    border: 2px solid $purple;
    font-weight: 900;
    color: $purple;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px 0px rgba(167, 66, 255, 0.5);
    border-radius: 10px;
    text-decoration: none;
    opacity: 0;
    background-color: white;

    &:hover {
        background-color: $purple;
        color: white;
    }
}

.flickity-viewport {
    padding-bottom: 30px;
    box-sizing: content-box;
}

.is-selected {
    .spring-air__link {
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
    }
}

.frePro__content--products-product {
    position: relative;
}

.fre-pro__link {
    font-family: Montserrat;
    position: absolute;
    bottom: -20px;
    right: -30px;
    padding: 5px 15px;
    border: 2px solid $purple;
    font-weight: 900;
    font-size: 16px;
    color: $purple;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 20px 0px rgba(167, 66, 255, 0.3);
    border-radius: 10px;
    text-decoration: none;
    background-color: white;

    &:hover {
        background-color: $purple;
        color: white;
    }
}

.blog-new {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    font-family: Montserrat;

    &__button {
        background-image: linear-gradient(to right, #3023ae, #ab5fcf);
        border-radius: 10rem;
        width: 220px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        font-weight: 200;
        color: white;
        text-decoration: none;
        position: relative;
        z-index: 10;
        transition: all .4s;

        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 10rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
            background-image: linear-gradient(to right, #3023ae, #ab5fcf);
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &-wrapper {
            margin-top: 100px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__header {
        color: #7E34BA;
        font-size: 50px;
        font-weight: 200;
        margin-bottom: 50px;
    }

    &__wrapper {
        width: 1200px;
        max-width: 90%;
        row-gap: 1px;
        display: grid;
        column-gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-auto-rows: 1px;
    }

    &__item {
        transition: all .25s ease-in-out;
        text-decoration: none;
        color: #313131;
        border-bottom: 1px solid #F1F1F1;
        display: block;
        font-family: Montserrat;

        &:hover {
            color: #7E34BA;
        }
    }

    &__content {
        padding: 25px 0;
    }

    &__title {
        font-size: 22px;
        margin-bottom: 15px;
        line-height: 27px;
    }

    &__desc {
        font-size: 14px;
        line-height: 23px;
    }
}

.others {
    width: 140%;
    position: relative;
    left: -20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 40px;
    border-radius: 25px;
    box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.1);
    background-color: white;

    &__header {
        margin-bottom: 40px;
    }
    

    &__wrapper {
        width: 100%;
        row-gap: 1px;
        display: grid;
        column-gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        grid-auto-rows: 1px;
    }
}